<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />


<div id="container">
    <div class="top-navbar">
        <div class="left-top-navbar">
            <img src="https://file.hstatic.net/1000075078/file/vector_706a88566eab4f009bed6eea93cd890b.png" alt="">
            <span>154 Cửa hàng khắp cả nước</span>
        </div>
        <div class="middle-top-navbar">
            <img src="https://file.hstatic.net/1000075078/file/group_8de276faa50c486b9d485826c506803b.png" alt="">
            <span>Đặt hàng: 1800.6936</span>
        </div>
        <div class="right-top-navbar">
            <img src="https://file.hstatic.net/1000075078/file/vector_c337310f409d440f890b370ff9cefe44.png" alt="">
            <span>Free ship từ 5.000.000 VNĐ</span>
        </div>
    </div>
    <div class="bottom-navbar">
        <div class="bottom-navbar-container">
            <div class="logo">
                <img src="../../../assets/logo/Gideon Store.png" alt="">
            </div>
            <div class="menu">
                <div *ngFor="let content of pages; let i = index">
                    <div [class.activePage] = "selectedIndex === i"(click)="onFocus(i)">
                        <a (click)="navigateTo(i)">{{content}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>