/* You can add global styles to this file, and also import other style files */

*{
    font-family: 'SF Pro Text', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
}